.contant-container{
    /* align-items: center; */
	width: 100%;
	height: 100vh;
	position: relative;
	flex-grow: 1;
	display: flex;
    justify-content: center;
}


.contant-container-c{
    float: left;
    width: 100%;
    height: 100vh;
    position: relative;
    flex-grow: 1;
      flex-direction: column;
    display: flex;
      /* margin-top: 100px; */
      padding-right: 180px;
      padding-top: 100px;
      /* background-color: aqua; */
      align-items: center;
      justify-content: center;
}

.cont-1{
    height: 50vh !important;
    background: linear-gradient(90deg,#ecf2f6,rgba(236,242,246,0) 70.31%);
    
}

.cont-2{
    height: 110vh;
    /* background: linear-gradient(90deg,#ecf2f6,rgba(236,242,246,0) 70.31%); */
    background-image: url(../images/line-6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center ;
}
.cont-3{
    height: 50vh;
    background-color: #e6f1ff;
    
    
}

.zp{
    z-index: 20 !important;
}

.cont-text1{
     /* position: absolute; */
     font-family: 'manrope', sans-serif;
     /* left: 250px;
     top: 15%; */
     width: 55vw;
     font-size: 65px;
     line-height: 76px;
     font-weight: 800;
     z-index: 100;
     color: #000;
     margin-top: 0;
     margin-bottom: 160px;
}

.line-4{
    position: absolute;
    top: 25%;
    left: 0px;
    display: inline-block;
    z-index: 0;
}

.circle-4{
    position: absolute;
    top: 20%;
    left: 4%;
    width:250px;
    height: 250px;
    display: inline-block;
    z-index: 0;
    rotate: 45deg;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.4;
    transition: all .3s ease-in-out;
	cursor: pointer;

}

@media (min-width: 1600px){
    .circle-4{
        left: 6% !important;
    }
}

.circle-4:hover{
    filter: grayscale(0%);
    opacity: 1;
    rotate: 0deg;
}

.box-grid{
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 50% 50%; */
	position: relative;
width: 80%;
	height: fit-content;
    


}

#cont-so{
    width: 300px;
    list-style-type: none;
    padding-left: 0;
}

#cont-so span{
    color: #fff !important;
    font-family: 'manrope', sans-serif;
	line-height: 28px !important;
	font-size: 21px !important;
	font-weight: 400 !important;
    opacity: 0.7;
}

#cont-so span:hover{
    opacity: 1;
}

#cont-so i{
    color: #Ff5964 !important;
    opacity: 1 !important;
    
}
#cont-so li{
    margin: 5px 0;
    opacity: 1;
}

#cont-so i:before {

    font-size: 24px;
}

.form-box{
    margin: 100px auto 0;
    height: max-content;
    width: 500px;
    box-shadow: 0 20px 48px 0 rgb(153 161 170 / 25%);
    padding: 50px;
    border-radius: 30px;
    background-color: #fff;
}

.form-group {
    margin-bottom: 16px;
}

form {
    display: block;
    margin-top: 0em;
}
.title-form{
	font-family: 'manrope', sans-serif;
	line-height: 50px;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: -3px;
}
.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #27272e;
    color: var(--color-dark);
    margin-bottom: 10px;
}

label {
    display: inline-block;
}

.form-control, input {
    border: 1px solid #ecf2f6;
    border: var(--border-lighter);
    border-radius: 16px;
    background-color: transparent;
    color: #292930;
    color: var(--color-text-dark);
    padding: 15px 20px;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input {
    height: 60px;
}

textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px);
}

.axil-btn {
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.04em;
    padding: 18px 55px;
    height: auto;
    text-align: center;
    transition: all .3s ease-in-out;
    transition: var(--transition);
    position: relative;
    z-index: 1;
}

.axil-btn.btn-fluid {
    width: 100%;
}

.axil-btn.btn-fill-primary {
    border: 1px solid #0055ff;
 
    overflow: hidden;
}

.axil-btn.btn-borderd:hover, .axil-btn.btn-fill-primary {
	background-color:#0055ff;


    color: #fff;

}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

#header-2{
	min-height: 20px;
    background: linear-gradient(90deg,#ecf2f6,rgba(236,242,246,0) 70.31%);
  }

  
  #header-2 article {
	width: 100%;
	max-width: 600px;
	padding: 20px;
	margin: 0px auto;
}

.form-box2{
    margin: 100px auto 0;
}
.contact-box1{
    width: 500px;
    height: max-content;
    margin-bottom: 10vh;
    background-color: #000;
    border-radius: 14px;
    padding: 60px 50px;
    box-shadow: 0 9px 18px 0 rgb(0 0 0 / 25%);
    color: #fff;
}

.contact-box1 .title{
    font-weight: 500;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.contact-box1  p{
	font-family: 'manrope', sans-serif;
	line-height: 26px;
	font-size: 16px;
	font-weight: 400;
}

.cont-3 .footer{
    top: 80px;
}

.temp2{
    transform: scaleX(1.001);
	transform-origin: bottom left;

}

.temp2:after {
	transform: scaleX(1.001);
}



@media screen and (max-width:767px) {


    #cont-so span{
        color: #fff !important;
        font-family: 'manrope', sans-serif;
        line-height: 28px !important;
        font-size: 16px !important;
        font-weight: 400 !important;
    }

    #cont-so{
        width: 100% !important;
    }
    .cont-1{
        height: 20vh !important;
        background: linear-gradient(90deg,#ecf2f6,rgba(236,242,246,0) 70.31%);
    }


    .cont-2{
        height: max-content !important;
        /* background: linear-gradient(90deg,#ecf2f6,rgba(236,242,246,0) 70.31%); */
        background-image: url(../images/line-6.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: center ;
    }

    .cont-text1{
        /* position: absolute;
        font-family: 'manrope', sans-serif;
        left:30px !important;
        top: 15%; */
        /* width: 90vw; */
        font-size: 32px !important  ;
        line-height: 38px !important;
        font-weight: 800 !important;
        z-index: 100;
        letter-spacing: normal !important;
        
    }

    .box-grid{
        display: flex;
        /* grid-template-columns: 100% !important; */
        flex-direction: column;
        position: relative;
        width: 100% !important;
        height: fit-content;
    
    
    }

    .contant-container-c{
      
          /* margin-top: 100px; */
          padding-right: 75px;
          padding-top: 160px;
          /* background-color: aqua; */
          align-items: center;
          justify-content: center;
    }

    .line-4{
        position: absolute;
        top: 20%;
        left: 0px;
        width: 100%;
        display: inline-block;
        z-index: 0;
    }


    .form-box2{
        width: 80% !important;
    }
    .form-box{
        margin: 50px auto 0 !important;
        height: max-content;
        width: 80% !important;
        box-shadow: 0 20px 48px 0 rgb(153 161 170 / 25%);
        padding: 20px;
        border-radius: 30px;
        background-color: #fff;
    }

    .contact-box1{
        margin: 50px auto 0 !important;
        width: 100% !important;
        height: max-content;
        margin-bottom: 10vh;
   
        border-radius: 14px;
        padding: 15px 20px;
        box-shadow: 0 9px 18px 0 rgb(0 0 0 / 25%);
        color: #fff;
    }


    .title-form{
        font-family: 'manrope', sans-serif;
        line-height: 46px;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -3px;
    }
    .co-footer{
        height: 740px;
    }
    .form-box2{
        margin: 30px auto 0 !important;
    }

    .circle-4{
        position: absolute;
        top: 20%;
        left: 5%;
        width:200px;
        height: 200px;
    
    
    }



}    