
#serv {
    background: #fff;
    /* position: sticky;
    top: 20%;
    left: 0; */
    width: 100%;
    height: 100%;
  }
  #serv ul {
     position: sticky;
    top: 20%;
    left: 0;
    display: block;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  #serv li {
    display: block;
  }
  #serv a {
    display: inline-block;
    padding: 3rem 0.1rem;
    
  color: #000;
	font-family: 'manrope', sans-serif;
	line-height: 38px;
	font-size: 28px;
	font-weight: 800;
	letter-spacing: -1.2px;
    text-decoration: none;
    border: 2px solid transparent;
    
  }
  #serv .active  {
    background-color: #ffb3c3;
    box-shadow: 0 3px 8px rgb(0 0 0 / 8%), 0 12px 16px rgb(0 0 0 / 4%);
  }

  .kl{
    margin-left: 2rem;
  }


  /* #serv a:after {
    content: ".";
    opacity: 0;
    color: #0055ff;
    display: inline-block;
    transform: translate(2rem,0);
    transition: all .3s ease-in-out;
  }
  
  #serv .active a:after {
    transform: translate(0,0);
    opacity: 1;
  }
   */
  section {
    /* min-height: 80vh; */
    height: fit-content;
    color: #000;
    text-align: center;
    padding: 0px  5rem;
    width: 100%;
    margin: 0 auto;
    /* background-color: white; */
  }

  .ptb{
    padding:10rem 5rem !important;
  }

  @media (min-width: 1600px) {
    .ptb{
      padding:15rem 5rem !important;
    }
  }
  
  /* section:nth-of-type(1) {
    background: #fff8fa;
  }
  section:nth-of-type(2) {
    background: #e6f1ff;
  }
  section:nth-of-type(3) {
    background: #fff8fa;
  } */

.serv-grid{
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 16% 84%; */
	position: relative;
    width: 100%;
	height: fit-content;
    margin-top: 50px;
    margin-bottom: 150px;
    gap: 20px;
}  

.ss{
  display: flex ;
  width: 100%;
  align-items: center;
  justify-content:flex-start;
}
.dg{
  width: 30%;
}

.serv-box {
	display: flex;
	grid-template-columns: 33.33% 33.33% 33.33%;
	position: relative;
	row-gap: 4rem;
  column-gap: 2rem;
	height: 100%;
  flex-wrap: wrap;
  /* background-color: #fff; */
  border-radius: 20px;
  /* box-shadow: 0 20px 48px 0 rgb(153 161 170 / 25%); */
  align-items: center;
  justify-content: flex-start;

}
.serv-box div{
  /* background-color: #7baeff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.serv-box div div{
  width: 20vw;
  height: 20vw;
  background-color: #fff;
  box-shadow: 0 3px 8px rgb(0 0 0 / 8%), 0 12px 16px rgb(0 0 0 / 4%);
  border-radius: 1.25rem;
  padding: 0.5rem 0.75rem;
}

.serv-box lottie-player, video{
  width: 100%;
  height: 100%;
}
.serv-box h3{
  font-family: 'manrope', sans-serif;
	line-height: 38px;
	font-size: 2rem;
}
.serv-box .icon{

  /* flex-direction: column; */

  display: grid;
  grid-template-rows: 70% 30%;
}
.serv-1{
  height: max-content !important;
}
.viout {
	transition: all 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
}

.vkg{
  display: none;
  /* background-color: #7baeff;
  box-shadow: 0 3px 8px rgb(0 0 0 / 8%), 0 12px 16px rgb(0 0 0 / 4%); */
  margin-top: 50px;
  padding: 10px;
  
}

.sit{
  width: 100%;
  height: 100%;
}

.sip{
  width: 100%;
  height: 100%;
}



@media screen and (max-width:767px){
  .vkg{
    position: relative;
    display: inline-block;
    font-style: normal;

  z-index: 2;
  }
  .serv-grid{
    /* display: grid;
       grid-template-columns: 20% 80%; */
	/* position: relative;
    width: 100%;
	height: fit-content;
    margin-top: 50px;
    margin-bottom: 100px; */
} 

section {
  /* min-height: 40vh; */
  /* height: max-content;
  color: #000;
  text-align: center; */
  padding:  0;
  /* width: 100%;
  margin: 0 auto;
  background-color: white; */
}


.serv-box {
	/* display: grid;
	grid-template-columns: 50% 50%;
	position: relative;
	row-gap: 4rem;
	height: 100%;
  background-color: #fff;
  border-radius: 20px;

  flex-wrap: wrap; */
  width: 100% !important;
  justify-content: center;

}

.serv-box .icon{

  /* flex-direction: column; */

  display: grid;
  grid-template-rows: 60% 40%;
}

#serv a {
  display: inline-block;
  padding: 3rem 0.1rem;
  
color: #000;
font-family: 'manrope', sans-serif;
line-height: 26px;
font-size: 16px;
font-weight: 800;
letter-spacing: normal;
  text-decoration: none;
  border: 2px solid transparent;
}

.serv-box div div{
  width: 40vw !important;
  height: 46vw !important;


}

.serv-box video{
  width: 100%;
  height: 100%;
}

.sip{
  width: 100%;
  height: 100%;
}


.serv-box lottie-player{
  width: 100%;
  height: 100%;
}

.serv-box h3{
  font-family: 'manrope', sans-serif;
	line-height: 28px;
	font-size: 18px;
  margin-top: 5px;
}

.vg{
  display: none;
}
.ss{
  flex-direction: column;
  justify-content:center;
}
.kl{
  margin-left: 0px !important;
}
.ptb{
  padding:5rem 0 !important;
}
.sit{
  width: 100%;
  height: 100%;
}
}


.highlight-illustration .highlight-path {
  fill: none;
  stroke: #ffb3c3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 12px;
}

.highlight-illustration {
  position: relative;
  top: -40px;
  /* left: -0.1em; */
  z-index: -1;
  width: 90%;
  height: 40px;
  stroke-dasharray: 1.1;
  stroke-dashoffset: 1.1;
}
  

/* .underline-path {
  stroke-dasharray: 1.1;
  stroke-dashoffset: 1.1;
} */
.underline-path {
  animation: draw-path 1s ease-in-out forwards;
}
#kp{
  animation-delay: 1s;
}
@keyframes draw-path {
  from{
  stroke-dashoffset: 1.1;
}
to {
  stroke-dashoffset: 0;
}
}
  